# 这是 MiraiMC 插件的配置文件
# 如需获取有关调整配置的帮助，请访问 https://wiki.miraimc.dreamvoid.ml/docs/configure-file
# Github: https://github.com/DreamVoid/MiraiMC
# MCBBS: https://www.mcbbs.net/thread-1207462-1-1.html

general:
  allow-bStats: true
  check-update: true
  disable-safe-warning-message: false
  mirai-working-dir: default
  add-properties:
    mirai.no-desktop: true
    mirai.slider.captcha.supported: true
  mirai-core-version: "stable"
  maven-repo-url: "https://maven.aliyun.com/nexus/content/groups/public/"
  enable-http-api: false
  legacy-event-support: false
bot:
  disable-network-logs: false
  disable-bot-logs: false
  use-bukkit-logger:
    bot-logs: true
    network-logs: true
  log-events: true
  contact-cache:
    enable-friend-list-cache: false
    enable-group-member-list-cache: false
    save-interval-millis: 60000
database:
  type: sqlite
  mysql:
    address: localhost
    username: miraimc
    password: miraimc
    database: miraimc
    pool:
      connectionTimeout: 30000
      idleTimeout: 600000
      maxLifetime: 1800000
      maximumPoolSize: 15
      keepaliveTime: 0
      minimumIdle: 5
httpapi:
  url: "http://localhost:8080"
  message-fetch:
    interval: 10
    count: 10
